# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/
eggs/
*.egg

# Node
node_modules/
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Sensitive data - do not push
examples/
backend/
dist/
docs/
docker-compose.yml
# Deploy files
frontend/Dockerfile
frontend/nginx.conf
